.code-frame {
    margin: auto;
    margin-top: 64px;
    overflow: hidden;
}

.frame-for-preview {
    text-align: center;
}

.iframe {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
}